html, body{
  background-color: seashell;
  height: 100%
}

form {
  overflow: auto;
}

#submitBtn{
  float: right;
}

[class*="col-"]{
  padding-right: 0px;
  padding-left: 0px;
}

#displayDiv {
  width: 100%;
  border-top: 2px solid dimgray;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: azure;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: LavenderBlush;
}

#inputDiv{
  /*border-bottom: 2px solid dimgray;*/
}

#savedDiv{
  border-left: 2px solid dimgray;
  height: 100%
}

#basketDiv{
  height: 100%
}

#poster{
  display: block;
  margin: auto;
}
