@media (min-width:1800px) {
  html, body{
  display: flex;
  justify-content: center;
  }
}

html, body{
  background-color: seashell;
  height: 100%
}

form {
  overflow: auto;
}

h2, p, button, th, td{
  font-family: 'Montserrat', sans-serif;
}

#basketDiv{
  height: 100%;
}

#displayDiv {
  width: 100%;
  overflow: auto;
}

#submitBtn, #favBtn{
  float: right;
}

hr{
  margin-right: -15px;
  border: 1px solid dimgray;
}

#displayHeader{
  margin-top: -5px;
}

#poster{
  display: block;
  margin: auto;
}

#savedDiv{
  border-left: 2px solid dimgray;
  height: 100%
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: azure;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: LavenderBlush;
}

table{
  max-width: 900px !important;
}
